.addtodo{
    margin: 2rem 0;

    h2{
        font-size: 4rem;
      
    }
}

.todolist{
    h3{
        font-size: 3rem;
       text-align: center;
        margin-top: 2rem;
    }

    h4{
        font-size: 2rem;
        margin-top: 2rem;
        
    }
}